.pooldashboard-content {
  padding: 0px;
  
  	h2{
  		padding: 10px;
	}
  
  @include respond-to(small) 
  {
    padding: 30px;
  }
}
.sign-off{
	background-color: $color-red-light;
		color: white;
		&:hover,
    	&:active {
      background-color: $color-red-dark;
    }
}
.sign-in i{padding-right: 10px;}
.sign-off i{
	padding-right: 10px;
	
	color: white;}
.survey i{padding-right: 10px;}
@include respond-to(small) {
	.sign-in {
		display: block;
		
		width: 100%;
		float: right;
	}
	.sign-off {
		display: block;
		width: 100%;
		float: right;
		background-color: $color-red-light;
		color: white;
	}
}
	
@include respond-to(large) {
	h2{margin-top: 100px;}

	.sign-in {
		display: block;
		margin: 30px;
		padding-left: 5px;
		padding-right: 5px;
		width: 220px;
		float: right;
	}
	.sign-off {
		display: block;
		margin: 30px;
		padding-left: 5px;
		padding-right: 5px;
		width: 220px;
		float: right;
	}
	.survey {
		display: block;
		margin: 30px;
		padding-left: 5px;
		padding-right: 5px;
		width: 220px;
		float: left;	
	}
  	.sign-in i{padding-right: 10px;}
	.survey i{padding-right: 10px; padding-left: 5px;}
}

