.pooldashboard-content {
  padding: 0px;
  
  	h2{
  		padding: 10px;
	}
  
  @include respond-to(small) 
  {
    padding: 30px;
  }
}
.sign-in i{padding-right: 10px;}
.survey i{padding-right: 10px;}

@include respond-to(small) {
	
	.sign-in {
		width: 220px;
	}
	.survey {
		width: 220px;
	}
  	.sign-in i{padding-right: 10px;}
	.survey i{padding-right: 10px;}
}

h2{
	
	margin-top: 40px;
}