<div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <form accept-charset="UTF-8" action="/pools" class="new_pool" enctype="multipart/form-data" id="new_pool" method="post">
        <div class="content-header">
          <h1>Uitslagen</h1>
        </div>
        <div class="pooldashboard-content">
          
          <table class="table admin">
          <thead>
            <th class="groupname" colspan="2">
              <input type="text" value="Group A">
            </th>
            <tbody>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="green fullwidth"><i class="fa fa-plus"></i> Wedstrijd toevoegen</button>

          <table class="table admin">
          <thead>
            <th class="groupname" colspan="2">
              <input type="text" value="Group B">
            </th>
            <tbody>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="green fullwidth"><i class="fa fa-plus"></i> Wedstrijd toevoegen</button>
          <div class="content-btn">
            <button class="green fullwidth"><i class="fa fa-plus"></i> Groep toevoegen</button>
          </div>
          <div class="content-btn">
          <button class="green fullwidth">Opslaan</button>
        </div>
        </div>
      </form>
  </div>
</div>
</div>



</div>
<div class="content-wrapper">



  <div class="grid-r">
  <div class="medium-4-4">
   <div class="box">
      <div class="content-header">
        <h1>Pool standen</h1>
      </div>

      <div class="pooldashboard-content">

        <div class="medium-1-2">
          <table class="table admin">
            <thead>
              <th colspan="2">Groep A</th>
              <tbody>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                  <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
              </tbody>
            </thead>
          </table>
        </div>
        <div class="medium-1-2">
          <table class="table admin">
            <thead>
              <th colspan="3">Groep B</th>
              <tbody>
                 <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
              </tbody>
            </thead>
          </table>
        </div>

        <div class="medium-1-2">
          <table class="table admin">
            <thead>
              <th colspan="2">Groep C</th>
              <tbody>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                  <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
              </tbody>
            </thead>
          </table>
        </div>
        <div class="medium-1-2">
          <table class="table admin">
            <thead>
              <th colspan="3">Groep D</th>
              <tbody>
                 <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr> 
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
                <tr>
                  <td>Brazilie</td>
                  <td><input class="predict" type="number" min="0" step="1" /></td>
                </tr>
              </tbody>
            </thead>
          </table>
        </div>
        
        

        <div class="content-btn">
          <button class="green fullwidth">Opslaan</button>
        </div>
      </div>
    </div>
  </div>
</div>



</div>
<div class="content-wrapper">



  <div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <form accept-charset="UTF-8" action="/pools" class="new_pool" enctype="multipart/form-data" id="new_pool" method="post">
        <div class="content-header">
          <h1>Uitslagen knockout fase</h1>
        </div>
        <div class="pooldashboard-content">
          
          <table class="table admin">
          <thead>
            <th class="groupname" colspan="2">
              <input type="text" value="8e finale">
            </th>
            <tbody>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="green fullwidth"><i class="fa fa-plus"></i> Wedstrijd toevoegen</button>

          <table class="table admin">
          <thead>
            <th class="groupname" colspan="2">
              <input type="text" value="Kwart finale">
            </th>
            <tbody>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" value="Datum">
                </td>
                <td>
                  <input type="text" value="Tijd">
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td class="predict-score">
                  <div class="view-table">
                    <div class="view-row">
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                      <div>
                        &ndash;
                      </div>
                      <div>
                        <input class="predict" type="number" min="0" step="1" />
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Nederland">Nederland</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
                <td>
                  <select class="dropdown">
                    <option value="Winnaar">Winnaar</option>
                    <option value="Spanje">Spanje</option>
                    <option value="Chili">Chili</option>
                    <option value="Australie">Australie</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="green fullwidth"><i class="fa fa-plus"></i> Wedstrijd toevoegen</button>
          <div class="content-btn">
            <button class="green fullwidth"><i class="fa fa-plus"></i> Ronde toevoegen</button>
          </div>
          <div class="content-btn">
          <button class="green fullwidth">Opslaan</button>
        </div>
        </div>
      </form>
  </div>
</div>
</div>



</div>
<div class="content-wrapper">



  
<div class="grid-r">
  <div class="medium-4-4">
    <div class="box">
      <form accept-charset="UTF-8" action="/pools" class="new_pool" enctype="multipart/form-data" id="new_pool" method="post">
        <div class="content-header">
          <h1>Landenlijst</h1>
        </div>
        <div class="pooldashboard-content">
          <table class="table admin-add-country">
            <tr>
              <td>
                <input type="text" value="Naam land">
              </td>
              <td>
                Groep: 
              </td>
              <td>
                <input class="predict" type="number" min="0" step="1" />
              </td>
              <td>
                <button class='green fullwidth' type='submit'>Vlag uploaden</button>
              </td>
              <td class="flag brasil"></td>
            <tr>
          </table>
          <div class="medium-1-1">
            <h3 class="country-title">Groep A</h3>
              Spanje<br />
              Nederland<br />
              Spanje<br />
              Nederland<br />

            <h3 class="country-title">Groep B</h3>
              Spanje<br />
              Nederland<br />
              Spanje<br />
              Nederland<br />
          </div>  
          <div class="content-btn">
          <button class="green fullwidth">Opslaan</button>
        </div>
        </div>
      </form>
  </div>
</div>
</div>